.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 2rem;
    /* height: 100%; */

}


.imageContainer img {
    width: 50%;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    border: solid wheat 5px;

    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}

.imageContainer::before {
    content: "";
    width: 60%;
    /* height: 60%; */
    padding-bottom: 60%;
    background-color: rgba(0, 0, 138, 0.7);
    border-radius: 60%;
    position: absolute;
    z-index: 1;
}

.imageContainer::after {
    content: "";
    width: 65%;
    /* height: 60%; */
    padding-bottom: 65%;
    background-color: #000033;
    border-radius: 55%;
    position: absolute;
    z-index: 0;
}

.contentContainer {
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentContainer h3 {
    color: #000033;
    margin-bottom: 10px;
    font-size: 2rem;
    padding: 2rem 2rem;

}

.contentContainer p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0rem 2rem 1rem 2rem;
    text-align: left;
}


@media(max-width:54em) {
    .container {
        grid-template-columns: 1fr;
    }

    .imageContainer {
        margin-top: 5rem;
    }

    .container:last-child {
        display: flex;
        flex-direction: column-reverse;
    }
  
}