.projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}





@media(max-width:54em) {
    .projectContainer {
        grid-template-columns: 1fr;
        max-width: 70%;
        margin: auto;
    }
}


@media(max-width:30em) {
    .projectContainer {
        max-width: 90%;
    }
}