
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.introText {
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(21, 30, 40, 0.9);
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
  color: white;

  width: 30%;
}

.introText h1 {
  padding-bottom: 3rem;
  font-size: 5rem;
}

.introText p {
  font-size: 1rem;
  color: #AEB5BD;
  margin: 0 1rem;
}

.hero img {
  width: 100%;
}


@media (max-width: 77em) {
  .introText h1 {
    padding-bottom: 1rem;
    font-size: 4rem;
  }
}


@media (max-width: 62em) {
  .introText h1 {
    font-size: 3rem;
  }
}




@media (max-width: 54em) {
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #5B6169;

  }

  .introText {
    position: initial;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: transparent;
    border-radius: 0;
    padding: 0 0 1rem 0;
    /* color: black; */
    padding-top: 5rem;

    width: 100%;
  }

  .introText p {
    font-size: 1rem;
    /* color: #666; */
    margin: 0 1rem;
  }

  .hero img {
    width: 100%;
  }
}