.footer {
    background-color: #C8D7E1;
    color: #21677B;

    padding: 1rem 5rem;
}

.footerContent {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
}

.logo {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

.devDetail {
    display: flex;
    flex-direction: column;
}

.devDetail p {
    font-size: 1rem;
}

.email {
    display: flex;
    gap: 1rem;

}

.email p {
    font-size: 1rem;
}

.email a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit
}

.sitemap,
.social {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    flex-direction: column;

}

.sitemap h3,
.social h3 {
    padding-bottom: 2rem;
    font-weight: 700;
}

.sitemap ul {
    list-style-type: none;
}

.sitemap ul li {
    font-size: 1.5rem;
}

.sitemap ul a {
    text-decoration: none;
    color: inherit
}

.social {
    align-items: start;
}

.socialIcons {
    display: flex;
    gap: 1rem;

}


@media(max-width:54em) {
    .footerContent {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .sitemap {
        align-items: baseline;
        flex-direction: row;
        gap: 1rem;
    }

    .sitemap ul {
        display: flex;
        gap: 1rem;
    }

    .sitemap h3,
    .social h3 {
        padding-bottom: 1rem;
    }
}


@media(max-width:30em) {
    .footer{
        padding: 1rem;
    }
    .sitemap h3{
        padding-bottom: 0;
    }
    .sitemap {
        align-items: baseline;
        flex-direction: column;
        gap: 0;
    }
}